layout: index
description: Become a Lyft driver! See if you meet the requirements, then access the Lyft application here. Make up to $30/hour driving your own car.
subtitle: Become A Ride Sharing Driver
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title Drive When You Want
      p.intro-feature-desc To drive or not to drive? It’s really up to you. If you have a slow month at work, make up for it by driving with Lyft.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title Boost Your Earnings
      p.intro-feature-desc Get rewarded for going the extra mile. The Power Driver Bonus can increase your earnings by 20 percent each week for hitting certain milestones.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title Get Paid Faster
      p.intro-feature-desc You no longer have to count down the days until payday when you drive with Lyft. Drivers who reach at least $50 in earnings can get paid quickly with Express Pay — receiving their cash in as little as a few hours.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title Take Advantage of Lyft Rewards
      p.intro-feature-desc Lyft offers many perks to its drivers.